:root {
    --text-color: #fff;
}

body {
    background-color: #000;
    color: var(--text-color);
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 20px;
}

.main-content {
    max-width: 800px;
    margin: 0 auto;
}

.chuck-norris-joke {
    background-color: #444;
    padding: 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    max-width: 100%;
    width: 500px;
    display: block;
    margin: 0 auto; 
}

.chuck-norris-image img {
    width: 500px;
    height: auto;
    border: 2px solid #333;
    display: block;
    margin: 0 auto; 
}

footer {
    background-color: #333;
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    margin-top: auto;
    text-align: center;
}

.joke-container {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-another-joke {
    background-color: #ff6347;
    color: var(--text-color);
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 15px;
    transition: background-color 0.3s ease;
    border: none;
}

.btn-another-joke:hover {
    background-color: #e6523d;
    scale: 1.05;
}